
#updateDiv
{
	left: 29px;
	top: 118px;
	width: 457px;
	height: 127px;
	border-left: white 1px solid;
	border-right: white 1px solid;
	border-top: white 1px solid;
	border-bottom: white 1px solid;
	position: absolute;
}

#SUPLbl
{
	position:absolute;
	left: 6px;
	top: 5px;
}

#local
{
	position:absolute;
	left: 16px;
	width: 14px;
	top: 40px;
	height: 15px;
}

#localLbl
{
	position:absolute;
	left: 37px;
	top: 37px;
}

#web
{
	position:absolute;
	left: 16px;
	width: 15px;
	top: 69px;
	height: 13px;
}

#webLbl
{
	position:absolute;
	left: 37px;
	top: 65px;
}

#arrow
{
	position:absolute;
	left: 87px;
	top: 39px;
}

#getUpdate
{
	position:absolute;
	left: 252px;
	top: 86px;
	background-image:url(../res/Skins/#SKINCOLOUR#/Maintenance/getupdate.gif);
	background-repeat:no-repeat;
    width:135px;
    height:35px;
}

#browse
{
	position:absolute;
	left: 397px;
	top: 45px;
}

#pkgPath
{
	position:absolute;
	left: 136px;
	width: 244px;
	top: 50px;
}

#updateLbl
{
	position:absolute;
	left: 71px;
	top: 80px;
}

#systemLbl
{
	position:absolute;
	left: 602px;
	top: 75px;
}

#restart
{
	position:absolute;
	left: 602px;
	top: 119px;
	cursor:pointer;
	background-image:url(../res/Skins/#SKINCOLOUR#/Maintenance/restart.gif);
	background-repeat:no-repeat;
    width:140px;height:43px;
}

#shutdown
{
	position:absolute;
	left: 602px;
	top: 174px;
	cursor:pointer;
	background-image:url(../res/Skins/#SKINCOLOUR#/Maintenance/shutdown.gif);
	background-repeat:no-repeat;
    width:140px;height:43px;
}

#downloadDBandEventLog
{
	left: 605px;
	top: 224px;
	position: absolute;
	color:White;
	font-weight:bold;
	font-family:Trebuchet MS;
	font-size:14px;
	white-space:nowrap;
}