.statusShowDurationStatus
{
	left:790px;	
	top:96px;
	width:150px;
	position:absolute;	
}

.statusCurrentShowInfo
{
	left: 110px;
	top: 62px;
	position:absolute;
}

.statusCurrentIngestInfo
{
	left: 110px;
	top: 218px;
	position:absolute;	
}

#statusCurrentPositionBar
{
	left: 110px;
	width: 1px;
	top: 131px;
	height: 15px;
	position: absolute;
	background-repeat: repeat-x;
}

#statusCurrentIngestComplete
{
	left: 110px;
	top: 252px;	
	width: 150px;
	height: 20px;	
	position: absolute;	
}

#statusEstimatedTimeLabel
{
	left: 628px;
	width: 291px;
	top: 252px;	
	height: 24px;	
	position:absolute;	
	visibility :hidden;
}

#statusMinutes
{
	left: 920px; 
	top: 252px;	
	width: 42px;
	height: 17px;	
	position:absolute;	
}

#statusIngestPositionBar
{
	left: 111px;
	width: 1px;
	top: 288px;
	height: 15px;
	position:absolute;		
	background-repeat: repeat-x;
}

#statusCurrentTime
{
	font-size: 25px;
	text-align: center;
}

#statusLocalTimeDiff
{
	font-size: 18px;
	text-align: center;
}

#statusCurrentDay
{
	text-align: center;
}

#statusCurrentMonthAndDate
{
	text-align: center;
}

#statusCurrentYear
{
	text-align: center;
}

#statusAvailableStorageBar
{
	left: 289px;
	width: 1px;
	top: 497px;
	height: 71px;	
	position:absolute;		
	background-repeat: repeat-x;
}

#statusNewlyAddedLabel
{
	left: 710px;
	width: 180px;
	top: 379px;
	height: 27px;	
	position:absolute;		
}

.recentEventBorder, .recentEventFrame
{	
	overflow: scroll;
	overflow-x:hidden;
	position: absolute;
	left: 709px;
	width: 270px;
	top: 423px;
	height: 146px;
	float: left;
}

#statusNewlyAddedTable
{
	overflow: auto;
	overflow-x:hidden;
	position: relative;
	width:270px;
}

.statusNewlyAddedType
{
	padding-right:1px;
}

.recentEventRow, .recentEventRowText
{	
	width:100%;
	cursor:default;
}

.timeInfo td
{
	text-align:center;
	vertical-align:middle;
	padding:0px 0px 5px 0px;
}

.timeInfo
{
	position:absolute;
	top:391px;
	width:150px;	
}

.storageInfo
{
    left: 287px;
	top: 390px;		
	height: 26px;
	width: 250px;	
	position:absolute;
}

.storageInfo td
{
    padding:0px 5px 5px 0px;
}