<?xml version="1.0" encoding="UTF-8"?>
<SharedConfig>
  <add key="IgnoreShowValidationFailures" value="false"/>
  <add key="ASCIIProtocolTcpPort" value="5000" />
  <add key="ASCIIProtocolSerialPort" value="COM1,115200,n,8,1" />
  <add key="CertificateIssuer" value="CN=.SMS.DC.CA.QubeCinema.com., OU=Qube, O=DC.CA.QubeCinema.com, dnQualifier=&quot;C28O25bpmli4vkc2EzrhqTQErTI=&quot;"/>
  <add key="IpAddressesToIgnore" value="10.7.75.2, 10.8.75.2"/>
</SharedConfig>