<?xml version="1.0" encoding="utf-8" ?>
<Dolby3DConfiguration>
<!--
  Specify the IP addresses and port numbers of the Dolby DFC-100 filter 
  controllers. These controllers are configured by default for port 61408. 
  For a dual-projector setup, there shall be a second FilterController section 
  with the IP address and port number of the second DFC-100.
-->
  <FilterControllers>
    <FilterController Address="192.168.75.203" Port="61408"/>
  </FilterControllers>

<!--
  Setting up the Dolby 3D color correction is a 3 step process. These steps
  are detailed below. The XP-D will require a restart or re-login after the
  changes are made in each of these steps. 
-->

<!--
  Step 0: Specify 'Ideal' Colors
  Specify the chromaticity coordinates of the target color gamut in the 'TCGD'
  section below. The default coordinates below correspond to the P3 color space.
  It is not recommended to change these defaults. If these defaults are changed,
  they have to be copied to the 'Left' and 'Right' sections in the 'MCGD' section
  below and the white point coordinates must be copied to the 'CorrectedWhitePoint'
  section below.
-->
  <TCGD>
    <Red   x="0.68"  y="0.32"/>
    <Green x="0.265" y="0.69"/>
    <Blue  x="0.15"  y="0.06"/>
    <White x="0.314" y="0.351"/>
  </TCGD>

<!--
  Step 1: Primary Color Correction
  Measure the chromaticity coordinates of the primary colors and
  white point with a spectroradiometer looking through the left and 
  right eye filters. Record the measured values in the 'MCGD' section
  below. Copy these white point coordinates to the 'CorrectedWhitePoint'
  section below.
-->
  <MCGD>
    <Left>
      <Red   x="0.68"  y="0.32"/>
      <Green x="0.265" y="0.69"/>
      <Blue  x="0.15"  y="0.06"/>
      <White x="0.314" y="0.351"/>
    </Left>
    <Right>
      <Red   x="0.68"  y="0.32"/>
      <Green x="0.265" y="0.69"/>
      <Blue  x="0.15"  y="0.06"/>
      <White x="0.314" y="0.351"/>
    </Right>
  </MCGD>

<!--
  Step 2: White Point Iteration
  Measure the chromaticity coordinates of the white point with a
  spectroradiometer looking through the left and right eye filters. Record
  the measured values in the 'CorrectedWhitePoint' section below.

  Note: Although the primary colors' coordinates are not required to 
  be measured at this step, it would be useful to measure these 
  coordinates and verify that they are identical or very close to 
  the target color gamut coordinates specified in Step 0. 
-->
  <CorrectedWhitePoint>
    <Left  x="0.314" y="0.351"/>
    <Right x="0.314" y="0.351"/>
  </CorrectedWhitePoint>

<!--
  Step 3: Luminance Balancing
  Measure the brightness of full scale white with a spectroradiometer looking
  through the left and right eye filters. Record the measured values in ft-L
  in the 'Luminance' section below. 
-->
  <Luminance>
    <Left  brightness="1"/>
    <Right brightness="1"/>
  </Luminance>
</Dolby3DConfiguration>
