<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section
         name="OEMConfig"
         type="Qube.OEM.Configuration.OEMConfig, Soul"/>
        <section
          name="SharedConfig"
          type="System.Configuration.NameValueSectionHandler"/>
    </configSections>

    <OEMConfig configSource="OEM.config"></OEMConfig>
    <SharedConfig configSource="Shared.config"></SharedConfig>
    
    <appSettings>
        <add key="SM" value="10.7.75.1"/> <!-- multiple Xi IP/host name should be delimited by comma, e.g. "10.7.75.1, 10.8.75.1" -->
        <add key="StreamerIP" value="localhost"/>

        <add key="Database" value="Database=Qube;Server=.\SQLExpress;Integrated Security=SSPI"/>

        <add key="MinBatch" value="32"/>
        <add key="MaxBatch" value="48"/>

        <add key="AutomationCommandTimeout" value="5000"/>

        <add key="EthernetTimecode" value="true"/>
        <add key="EthernetTimecodeOffset" value="0"/>

        <add key="EnableInputMode" value="true"/>

      <!--<add key="3DConfigFile" value="Dolby3D.config"/>-->
        <!--<add key="3DConfigFile" value="RealD.config"/>-->
    </appSettings>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="serviceBinding">
                    <readerQuotas maxStringContentLength="163840000"/>
                </binding>
            </basicHttpBinding>
        </bindings>
    </system.serviceModel>
</configuration>