<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section
          name="SharedConfig"
          type="System.Configuration.NameValueSectionHandler"/>
    </configSections>
    <SharedConfig configSource="Shared.config"></SharedConfig>

	<appSettings>
    <add key="Database" value="Database=Qube;Server=.\SQLExpress;Integrated Security=SSPI"/>
    <add key="JobStatusUpdateInterval" value="5000"/>
    
    <add key="IntegrityVerificationWhilePlayback" value="true"/>
    <add key="IngestWhilePlayback" value="true"/>
    <!--<add key="TransientErrorRetryInterval" value="60"/> --><!--  in seconds -->
    <!--<add key="TransientErrorRetryCount" value="10"/>-->
    <add key="ScratchSpaceValidityPeriod" value="5"/><!--in days-->
    <add key="ExcludeDrivesForIngest" value="C,D"/> <!--Drives are comma separated Ex: C,D,F,Z-->
    <add key="LogMode" value="default"/> <!--default, verbose-->
    <add key="ValidateSchema" value="ignore"/>
    <add key="DcpSubfolderParsingLevel" value="1"/>
    <add key="NonDcpSubfolderParsingLevel" value="-1"/>
  </appSettings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="serviceBinding">
          <readerQuotas maxStringContentLength="163840000"/>
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>