<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
    <configSections>
        <section
          name="OEMConfig"
          type="Qube.OEM.Configuration.OEMConfig, Soul"/>
        <section
          name="SharedConfig"
          type="System.Configuration.NameValueSectionHandler"/>
    </configSections>
    
    <OEMConfig configSource="OEM.config"></OEMConfig>
    <SharedConfig configSource="Shared.config"></SharedConfig>
    
	<appSettings>
    <add key="Database" value="Database=Qube;Server=.\SQLExpress;Integrated Security=SSPI"/>
    <add key="WakeUpDelay" value="300000"/>
		<add key="TaskStatusUpdateInterval" value="30000"/>
		<add key="TaskServerURL" value="http://localhost/qubecentral/taskserver.asmx"/>
		<add key="TaskServerTouchInterval" value="150000"/>
    <add key="TaskServerTouchDueTime" value="3600000"/>
    <!--<add key="RebuildActionRetryCount" value="5"/>-->
    <!--<add key="RAIDEventPollInterval" value="10000"/>-->
    <add key="LogMode" value="default"/>  <!--default, verbose-->
    
	</appSettings>
	<system.diagnostics>
    <trace autoflush="true" indentsize="4">
        <listeners>
           <add name="VelaikaranTrace" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\Windows\Temp\Velaikaran.log" />
           <remove name="Default" />
           <!-- clear/ -->
        </listeners>
    </trace>
    </system.diagnostics>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
          <binding name="serviceBinding">
              <readerQuotas maxStringContentLength="163840000"/>
          </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>

</configuration>
